.arrow.disabled a {
    opacity: 0.5;
}

.selectedClass {
    background-color: #df4234;
    color: #fff;
}

.selectedClass svg path{
    stroke: #fff;
}

.custom-pages, .custom-pages p{
    line-height: 27px;
}
.toast-title{
    font-size: 18px;
}

.toast-message{
    font-size: 12px;
}