@media (max-width: 1093px) {
    #modalRegister .grid-layout-2 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .single-property-map .info-map {
        grid-template-columns: auto !important;
    }

    .info-detail .wrap-box {
        width: 135px !important;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .navigation li a {
        font-size: 13px;
    }
}

@media (min-width: 800px) {
    .wd-250 {
        width: 250px;
    }
}



@media (max-width: 767px) {
    .icon-input {
        top: 21% !important;
    }

    .page-layout .footer-dashboard,
    .page-layout .footer-dashboard .list {
        display: block !important;
        text-align: center !important;
    }

    .page-layout .footer-dashboard .list li::after {
        display: none !important;
    }

    .social-share svg {
        width: 40px !important;
    }

    .social-share p {
        font-size: 12px !important;
    }

    .page-title.home01 h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .page-title.home01 .h6 {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .radio-custom label {
        padding: 5px 14px !important;
    }

    .text-11 {
        font-size: 21px !important;
    }
}

.arrow.disabled a {
    opacity: 0.5;
}

.selectedClass {
    background-color: #df4234;
    color: #fff;
}

.selectedClass svg path {
    stroke: #fff;
}

.custom-pages,
.custom-pages p {
    line-height: 27px;
}

.toast-title {
    font-size: 18px;
}

.toast-message {
    font-size: 12px;
}

.wg-filter.style-2 .form {
    max-width: 320px;
    width: 100%;
    flex-shrink: 0;
}

.home01 .wg-filter .form {
    flex: 1;
}

li.has-child {
    position: relative;
}

.has-child.size-6>.submenu {
    min-width: 600px !important;
}

.package-col {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}

.plot-area {
    border-radius: 16px 0 0 16px !important;
}

.plot-area-type {
    border-radius: 0 16px 16px 0;
    margin-top: 11px;
}



.otp-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .otp-input-field {
    flex-direction: row;
    column-gap: 2px;

}

.otp-input-field input {
    text-align: center;
    padding: unset !important;
}

.otp-input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-input-field input::-webkit-inner-spin-button,
.otp-input-field input::-webkit-outer-spin-button {
    display: none;
}

#registerForm.flat-account .form-account {
    padding: 30px;
}

#modalRegister .flat-account .banner-account {
    max-width: 300px;
}

.icon-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #df4234;
    font-size: 17px;
}

.header-right a.bg-color-primary {
    color: #fff !important;
}

.bank-logo {
    max-height: 60px;
    min-width: 120px;
}

.login-page .flat-account .banner-account {
    max-width: 650px;
    height: 520px;
}

.register-page .flat-account .banner-account {
    max-width: 710px;
    width: 70%;
    height: 555px;
}

.forgot-page .flat-account .banner-account {
    max-width: 475px;
    height: 350px;
}

.setup-new-password-page .flat-account .banner-account {
    max-width: 475px;
    height: 470px;
}



.icon-construction:before {
    content: "\e916";
}

.icon-furnished:before {
    content: "\e928";
}

.text-c-1 {
    font-size: 12px;
    line-height: 14px;
}

.text-c-2 {
    font-size: 12px;
    line-height: 16px;
}

.box-house .box-overview .meta-list i {
    font-size: 25px;
    margin-right: 2px;
}

.box-house .box-overview h5.title {
    font-size: 17px;
    line-height: 22px;
}

.box-house.style-list .box-overview .meta-list {
    margin-bottom: 4px;
}

.box-house .box-overview .tf-btn {
    height: 38px;
}

.social-share {
    text-align: center;
}

.social-share a {
    margin-right: 10px;
}

.share-button {
    right: 0;
    top: -6px;
}

.section-property-detail .share-button {
    right: -7px;
    top: -12px;
}

.share-field #shareUrl {
    padding-right: 60px;
}

.share-field span {
    position: absolute;
    right: 9px;
    top: 25%;
    color: #df4234;
    cursor: pointer;
}

.tf-dropdown-sort .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}

.tf-dropdown-sort .dropdown-menu .select-item:hover {
    background-color: #df4234;
}

.tf-dropdown-sort .dropdown-menu .select-item .text-value-item {
    color: #2c2e33;
}

.tf-dropdown-sort .dropdown-menu .select-item:hover .text-value-item {
    color: #fff;
}

.form-select option {
    border-color: #df4234;
}

.form-select-border-none {
    width: 100%;
    max-width: 100px;
}

.form-select-border-none:focus,
.form-select-border-none:focus-visible {
    border: none;
}

.tf-dropdown-sort {
    height: 25px;
}

input.search-address-home {
    height: 16px !important;
}

[type='submit']:disabled {
    background-color: #2c2e33;
}

.site-logo,
.is-fixed .site-logo-fixed {
    display: block;
}

.site-logo-fixed,
.is-fixed .site-logo {
    display: none;
}

.box-radio-check label {
    margin-bottom: 0px;
}

.ht-45 {
    height: 45px !important;
}

.ht-21 {
    height: 21px !important;
}

.ht-125 {
    height: 125px;
}

.ht-210 {
    height: 210px;
}

.info-detail .wrap-box {
    width: 155px;
}

.min-h-300 {
    min-height: 300px !important;
}

.br-16 {
    border-radius: 16px !important;
}

.cover-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.section-testimonials .box-testimonials {
    flex-direction: column;
}

.text-limit-6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
}

form#contactform textarea {
    height: 80px !important;
}

#contactform {
    border: none;
}


#header-main:not(.is-fixed) .bg-1 .mobile-button {
    color: var(--White);
}

.custom-style-border {
    border: 1px solid var(--Primary);
    color: var(--Primary);
    background-color: transparent;
    border-radius: 16px;
    padding: 4px;
    /* gap: 10px; */
    /* font-size: 16px; */
    /* line-height: 22.4px; */
    /* height: 50px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.bg-label-danger {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
}

.bg-label-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}


.radio-custom label {
    margin-bottom: 2px;
    font-size: 13px;
    padding: 5px 20px;
    margin-right: 12px;
    border-radius: 13px;
}

.user .page-layout .main-content-inner {
    padding: 35px 56px 0;
}

.btn-outline-danger {
    --bs-btn-color: var(--Heading);
    --bs-btn-border-color: var(--Line);
}

.header-position {
    z-index: 999;
    position: relative;
}

.user .main-content-inner {
    min-height: 690px;
}

.custom-pages tr {
    white-space: unset !important;
}

.fs-15 {
    font-size: 15px;
}

.login-menu {
    color: var(--White);
}

.is-fixed .login-menu {
    color: var(--Heading) !important;
}

.pk-bg-red {
    background: #df42341f;
}

/**********registration page css start******************/
.register-page .flat-account .banner-account {
    max-width: 280px;
    width: 40%;
    height: auto;
}

.banner-content {
    width: 40%;
    padding-left: 30px;
}

.flat-account .form-account {
    flex-grow: 1;
    padding: 37px;
    background: #f5f5f5;
    border-radius: 20px !important;
}

.flat-account {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    place-items: center;
}

.banner-content h3 {
    font-size: 25px;
    line-height: 33px;
    padding-bottom: 20px;
}

.banner-content h3 span {
    color: #df4234;
}

.banner-content ul li {
    color: #898787;
    font-size: 16px;
    padding-bottom: 10px;
    display: flex;
    place-items: center;
}

.banner-content ul li span {
    width: 14px;
    height: 14px;
    background: #a6a6a6;
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
}

.img__ img {
    border-radius: 8px;
    display: block;
}

.img__ {
    margin-right: 20px;
    min-width: 200px;
}

.img-box {
    display: flex;
    place-items: center;
    margin-bottom: 40px;
}

.img-content h5 {
    font-size: 25px;
    padding-bottom: 10px;
}

.img-content p {
    font-size: 19px;
    line-height: 24px;
    font-weight: 300;
}

.bg_light_gray {
    background: #f5f5f5
}

.color-main {
    color: #df4234;
    font-size: 40px;
}

p.sub-heading {
    font-size: 20px;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 0px 0px;
    line-height: 30px;
}

.tips {
    display: flex;
    place-items: center;
    margin-bottom: 40px;
}

.tip-icon {
    margin-right: 20px;
}

.tips-content h5 {
    padding-bottom: 7px;
}

.tips-content ul li {
    padding-bottom: 5px;
}

@media(max-width:768px) {
    .img-content p {
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
    }

    .flat-account {
        display: flex;
        border-radius: 30px;
        overflow: hidden;
        place-items: center;
        flex-direction: column;
    }

    .banner-content {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .flat-account .form-account {
        width: 100%;
    }

    .color-main {
        color: #df4234;
        font-size: 33px;
    }
}

@media(max-width:991px) {
    .banner-content {
        width: 50%;
        padding-left: 10px;
        padding-right: 30px;
    }
}

@media(max-width:767px) {
    .img-box {
        display: flex;
        place-items: center;
        margin-bottom: 40px;
        flex-direction: column;
        place-content: center;
        place-items: center;
        text-align: center;
    }

    .img__ {
        margin-right: 0px;
        min-width: 200px;
        margin-bottom: 20px;
    }
}

/**********registration page css end******************/


/**********package page css start******************/
.zui-table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    border-radius: 16px;

}

.package-buy-btn {
    display: unset;
    padding: 6px 30px !important;
    height: 36px;
}

.zui-table tr:nth-child(even) {
    background: #F3F3F3;
}

.zui-table thead th {
    padding: 15px 20px;
    text-align: center;
    vertical-align: top;
    min-width: 180px;
}

.zui-table tbody td {
    color: #333;
    font-size: 16px;
    padding: 15px 20px;
    white-space: normal;
    vertical-align: top;
    border-top: 1px solid #ccc;
}

.zui-wrapper {
    max-width: 1200px;
    position: relative;
}

.zui-scroller {
    /* overflow-x: scroll; */
    /* overflow-y: visible; */
    padding-bottom: 5px;
    width: 100%;
    border: 1px solid var(--Line);
    border-radius: 13px;
}

.zui-table .zui-sticky-col {
    left: -10px;
    position: sticky;
    top: auto;
    font-weight: 700;
    min-width: 200px;
    background-color: #FFFFFF;
    box-shadow: inset -15px 0 10px -7px rgba(0, 0, 0, 0.15);
}

.zui-sticky-col.zui-stripe-row {
    background-color: #F3F3F3;
}

.zui-table th:not(:first-child),
.zui-table td:not(:first-child) {
    border-left: 1px solid lightgrey;
    text-align: center;
}


.ribbon {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.4;
    padding-inline: 1lh;
    clip-path: polygon(100% 100%, 0 100%, 999px calc(100% - 999px), calc(100% - 999px) calc(100% - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: var(--Primary);
    opacity: 0.8
}

.package .flat-pricing .box {
    border: 1px solid var(--Primary);
}


/* Phone */
@media screen and (max-width: 768px) and (min-width: 320px) {
    .zui-table .zui-sticky-col {
        min-width: 125px;
    }

    .zui-table thead th {
        min-width: 190px;
    }

    .zui-table tbody td {
        font-size: 15px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .zui-table .zui-sticky-col {
        min-width: 175px;
    }

    .zui-table thead th {
        min-width: 180px;
    }
}

/**********package page css end******************/


/**********Home Loan page css Start******************/
.bio span {
    color: #df4234;
}

.bio ul li span {
    font-size: 18px;
    line-height: 28px;
}

.home-loan .form h3 span {
    color: #df4234;
}

.faq-loan p {
    font-size: 17px;
    padding: 20px 0px 0px;
    line-height: 30px;
}

/**********Home Loan page css end******************/