.arrow.disabled a {
    opacity: 0.5;
}

.selectedClass {
    background-color: #df4234;
    color: #fff;
}

.selectedClass svg path{
    stroke: #fff;
}

.custom-pages, .custom-pages p{
    line-height: 27px;
}
.toast-title{
    font-size: 18px;
}

.toast-message{
    font-size: 12px;
}

.wg-filter.style-2 .form {
    max-width: 320px;
    width: 100%;
    flex-shrink: 0;
}

.home01 .wg-filter .form {
    flex: 1;
}

li.has-child{
    position: relative;
}
.has-child.size-6 > .submenu {
    min-width: 600px !important;
}

.package-col{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
}

.plot-area{
    border-radius: 16px 0 0 16px !important;
}
.plot-area-type{
    border-radius: 0 16px 16px 0;
    margin-top: 10.5px;
}
 
 
 
.otp-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .otp-input-field {
    flex-direction: row;
    column-gap: 2px;
    
}
.otp-input-field input {
    text-align: center;
    padding: unset !important;
}
.otp-input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-input-field input::-webkit-inner-spin-button,
.otp-input-field input::-webkit-outer-spin-button {
    display: none;
}
#registerForm.flat-account .form-account {
    padding: 30px;
}

#modalRegister .flat-account .banner-account{
    max-width: 300px;
}